<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Nobuo Uematsu</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body>
    <header>
        <nav>
            <img class='minicristal' src="/images/minicristal.gif" />
            <div class='routes'>
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/works">Works</a>
                <a href="/gallery">Photos</a>
            </div>
        </nav>
    </header>
    <div class=container>
        <div class='biographie'>
            <p>
                Nobuo Uematsu (植松 伸夫, Uematsu Nobuo) est un compositeur japonais né le 21 mars 1959 à Kōchi.
                Unanimement reconnu comme l'un des plus grands dans le domaine du jeu vidéo, notamment pour ses travaux
                pour la série Final Fantasy, il est également membre d'un groupe de power metal, The Black Mages et The
                Earthbound Papas.
            </p>

            <img src="/images/about-nobuo.jpeg" alt="about obuo">
            <a href="https://fr.wikipedia.org/wiki/Nobuo_Uematsu">Source</a>
        </div>
    </div>