<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nobuo Uematsu</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
       <nav>
           <img class = 'minicristal' src="/images/minicristal.gif" />
           <div class = 'routes'>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/photo">Photos</a>
           </div>
       </nav> 
    </header>
    <div class = container>
        <h1>Nobuo Uematsu</h1>
        <h2>Un compositeur de génie</h2>
        <img class ='nobuo' src="/images/nobuo.jpg" />
    </div>


    <script src = 'js/main.js'></script>
  </body>
</html>
